@using System.Linq
@model LoginViewModel
@inject SignInManager<User> SignInManager
@{
    Layout = "";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicStore.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="bg-image">



<div class="row" id="form">
    <div class="formtext">
        <div class="col-md-6 col-md-offset-2">
            <h2>Login In with your Email</h2>
            <p class="prompt">If you don't have an Account, please <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">create one</a>
            </p>
            <section>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group-lg">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control"/>
                    </div>
                    <div class="form-group-lg">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control"/>
                    </div>
                    <div class=" text-right">
                        <div class="form-group-lg">
                            <p>
                                <a asp-action="ForgotPassword">Forgot your password?</a>
                            </p>
                        </div>
                        <div class="form-group-lg">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe"/>
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                                <button type="submit" class="btn-lg btn-success">Log in</button>
                            </div>

                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <hr/>
        <section>
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="btn-lg btn-info" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><img class ="icon" src="/images/googleIcon.png"/>Sign in with @provider.Name</button>
                            }
                        </p>
                    </div>
                </form>
            }
        </section>
    </div>


    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
    </div>
</div>
</body>